# URL base do sistema PLEX
PLEX_BASE_URL=https://plex.benellog.com.br

# Credenciais do PLEX
PLEX_EMAIL=henrique@bnel.com.br
PLEX_SENHA=sua_senha_aqui

# Token do Bot do Telegram (obtido via @BotFather)
TELEGRAM_BOT_TOKEN=123456789:AAxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Seu Chat ID no Telegram (obtido via @userinfobot)
TELEGRAM_CHAT_ID=123456789
